<img src={{message.user.thumbnail}} />
<span class="list-group-item-heading name">{{message.user.name}}</span>
-
<span class="date">{{createdAtWords}}</span>
:
<span class="list-group-item-text content">{{message.content}}</span>
