<div class="row">
  <div class="list-group">
    {{#each messages as |message|}}
      <div class="list-group-item">
        {{chat-message message=message}}
      </div>
    {{/each}}
  </div>
  {{#bs-form action="send"}}
    {{#bs-form-group}}
      {{bs-input value=message placeholder="Message..." autocomplete="off"}}
    {{/bs-form-group}}
 {{/bs-form}}
</div>
